<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VoucherMaker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>346C56576256F2E63C45447129A7B66207B81364</string>
				<key>dateExpires</key>
				<string>4/8/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MagicalRecord.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Whisper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>346C56576256F2E63C45447129A7B66207B81364</string>
						<key>dateExpires</key>
						<string>4/8/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5TP8PA3939</string>
						<key>name</key>
						<string>Hai Truong</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5TP8PA3939.com.HoanVu.VoucherMaker</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5TP8PA3939</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>VoucherMaker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aab2ae5b-b21b-409f-8047-0e7cd7574471</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.HoanVu.VoucherMaker</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5TP8PA3939</string>
				<key>name</key>
				<string>Hai Truong</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
